
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  height: 100%;
}

#app-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#editor,
#preview {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#editor {
  background-color: #1e1e1e;
}

#preview{
  background-color: #1e1e1e;
}

h2 {
  color: #61dafb;
}

textarea,
#preview {
  width: 300px;
  height: 500px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: white;
  resize: none;
}

#preview {
  overflow-y: auto;
}
